<template>
  <div class="bottomNavigation">
    <div><img src="./icons/home.png" alt="" /></div>
    <div><img src="./icons/checkbox.png" alt="" /></div>
    <div><img src="./icons/loupe.png" alt="" /></div>
    <div><img src="./icons/clipboard.png" alt="" /></div>
    <div><img src="./icons/chat.png" alt="" /></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.bottomNavigation {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	bottom: 0;
	img {
		width: 30px;
		padding: 10px;
		margin: 0 auto;
		opacity: 0.5;
	}
	div {
		grid-gap: 10px;
		text-align: center;
		border: 0.5px solid lightgrey;
	}
}
</style>