<template>
  <div class="topNavigation">
    <div class="menuIcon">&#9776;</div>
  </div>
</template>


<script>
export default {

}
</script>

<style lang="scss">
.topNavigation {
	width: 100%;
	.menuIcon {
		float: right;
		padding: 10px;
		cursor: pointer;
		color: white;
	}
}

</style>