<template>
  <div class="newsContainer">
    <div
      v-for="(post, index) in posts"
      v-bind:key="index"
      class="singleNewsContainer"
    >
      <div class="topInformation">
        <span class="companyName">{{post.provider}}</span>
        <div class="date">
          {{post.promotedUntil}}

          <span></span>
        </div>
      </div>

      <h1>{{post.headline}}</h1>
      <p>{{post.content}}</p>
      <a :href="post.url"> Read more</a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: [],
    };
  },

  mounted() {
    // const postData = JSON.stringify(news);
    fetch(
      "https://api.lassox.com/news?accessKey=tVMUGjxmaIjQ5yHT2i5lpbwWImBv52m7xURXL1diY",
      {
        method: "post",
        headers: {
          "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        body: "postData",
      }
    )
      .then((e) => e.json())
      .then((data) => (this.posts = data))

      .then(function (data) {
        console.log("Request succeeded with JSON response", data);
        return data.replace(/[!@#$^&%*()+=[\]/{}|:<>?,.\\-]/g, "");

        // return JSON.parse(data.replace(/[!@#$^&%*()+=[\]/{}|:<>?,.\\-]/g, ''));
      })
      .catch(function (error) {
        console.log("Request failed", error);
      });
  },
};


</script>

<style lang="scss">
.newsContainer {
	background-color: #F5F5F5;
	padding: 15px;
	margin-top: 10px;
}

.singleNewsContainer {
	margin-top: 30px;
	background-color: #FFFFFF;
	padding: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	.topInformation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 10px;
		.date {
			color: #AAAAAA;
		}
		.companyName {
			color: #D56E63;
			text-transform: uppercase;
		}
	}
	h1 {
		font-size: 1.5rem;
		padding-bottom: 10px;
	}
	p {
		font-size: 1rem;
		color: #AAAAAA;
		margin-bottom: 10px;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	a {
		float: right;
	}
}

</style>