<template>
  <div class="searchContainer">
    <div class="lassoLogo">
      <img
        src="https://pbs.twimg.com/profile_images/1042008228371025926/gAAtV3M5_400x400.jpg"
        alt=""
      />
    </div>

    <div class="searchBar">
      <input
        type="text"
        v-model="search"
        placeholder="Søg efter virksomheder eller personer"
      />

      
      <!-- <ul v-for="result in this.response.people.results"> -->
        <ul v-for="(companyData, index) in filteredresponse" :key="index">
          <li>
             {{companyData}}
          </li>
        </ul>

    </div>
  </div>
</template>


<script>

export default {
  data() {
    return {
      company: [],
      search: "",
      filter: ""
    };
  },
  mounted() {
    axios
			.get('api.lassox.com/data/cvr/search?query=company&accessKey=tVMUGjxmaIjQ5yHT2i5lpbwWImBv52m7xURXL1diY')
			.then(response => {
				this.company = response.data;
			})
			.catch(error => console.log(error))
	},

  computed: {
    
          filteredresponse() {
			
            let companyData = this.company;
            let search = this.search;
            let filter = new RegExp(this.search);

            if(!search){
               console.log(filter, "something ");
                return companyData;
                
            }

            search = search.trim().toLowerCase();

            companyData = companyData.filter(function(item){
                if(item.index.toLowerCase().indexOf(search) !== -1){
                    return index;
                }
            })

            return companyData;
        }
	 }
     
  }
  


</script>

<style lang="scss">

.searchContainer {
	display: grid;
	grid-template-columns: 0.7fr 3fr;
	background-color: white;
	padding: 10px;
	align-items: center;
	img {
		width: 20px;
	}
	input {
		border: none;
		width: 80%;
	}
}
</style>