<template>
 <!--INFORMATION MESSAGE-->
<div class="introMessage">
  <h3>Intro message:</h3>
    <p> This website can only be viewed on a mobile version.
Please go to the Developer Console and click the Device Toolbar,
And change the view of the screen to the mobile </p>
</div>

<div class="bodyContainer">
   <!--TOP NAVIGATION-->
   <TopNavbar/>

  <!--SEARCHBAR  -->
  <searchContainer/>

 <!--HOME CONTAINER WITH THE API ARRAY -->
  <News/>

  <!--BOTTOM MENU -->
  <bottomNavbar/>
</div>
</template>

<script setup>
import News from './views/News.vue'
import TopNavbar from './assets/parts/TopNavbar.vue'
import bottomNavbar from './assets/parts/BottomNavbar.vue'
import searchContainer from './components/SearchContainer.vue'

</script>

<style lang="scss">
*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bodyContainer{
  display: grid;
    background-color: #98A2A6;
     height: 736px;
}

.introMessage{
  display: none;
}


/*DESKTOP*/
@media only screen and (min-width: 415px){
  .introMessage{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 140px;
    font-size: 1.5rem;
  }

  .bodyContainer{
   display: none;

  }

}

a{
  color: black;
  text-decoration: none;
}




</style>